<p id="notice"><%= notice %></p>

<h1>Our Products</h1>

<!-- <table>
  <thead>
    <tr class="producttableheader">
      <th class="col-Name">Name</th>
      <th class="col-Description">Description</th>
      <th class="col-Image_url">Image url</th>
      <th class="col-Price">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="chairtable">
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <a href="#"><h1><%= product.name %></h1></a>
        <p><%= product.description %></p>
        <p><%= product.color %></p>
        <strong><%= product.price %></strong>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><!-- /col -->
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New Product', new_product_path %>

<!-- Below is an example
<% @products.each do |product| %>
  <tr class="crazy">
    <h2 class="loco"><%= product.name %></h2>
    <td><%= product.description %></td>
    <td><%= product.image_url %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %> -->
